

//////////////////SMALL
@media only screen and (max-width: 40em) {
body{
		background-color: green;
	}
 } 
///////////////////MEDIUM
@media only screen and (min-width: 40.063em) and (max-width: 64em) {

body{
		background-color: blue;
	}
} 
/////////////////////LARGE
@media only screen and (min-width: 64.063em) {
	body{
		background-color: red;
	}
 } 



