*{
	margin:0px;
	padding: 0px;
	border:0px;
	font-family: 'Heebo', sans-serif;
	outline:none;
}
html,body{
	width:100%;
	font-size:12px;
}
#content{
	text-align: center;
}s

@import "menu";
@import "slider";
@import "services";
@import "contact";
@import "login";
@import "media-queries";


