*{
	margin:0px;
	padding: 0px;
	border:0px;
}
html,body{
	width:100%;
}
.ci-slider{
	/*----------  CI Slider propiedades del contenedor ----------*/
	position: relative;
	width:100%;
	height: 500px;
	min-height: 400px;
	overflow: hidden;
	li{
		position: absolute;
		width:100%;
		height:100%;
		background-position: top center;
		background-size: cover;
		background-image: no-repeat center center fixed; 
	}
}
.ci-slider-nav{
	width:100%;
	background-color:rgba(0,0,0,.1);
	text-align: center;
	div{
		width:30px;
		height:30px;
		border-radius: 50%;
		background-color:rgba(0,0,0,.5);
		display: inline-block;
		margin:10px;
		cursor: pointer;
	}
}
.active{
	background-color: #408000 !important;
	border:2px solid #80ff00;
}

//////////////////Pequeño
@media only screen and (max-width: 40em) {
body{
		//background-color: green;
	}
 } 
///////////////////Mediano
@media only screen and (min-width: 40.063em) and (max-width: 64em) {

body{
		//background-color: blue;
	}
} 
/////////////////////Grande
@media only screen and (min-width: 64.063em) {
	body{
		//background-color: red;
	}
 } 



